<h1 class="start">Kontakt</h1>

<p>
Sie erreichen mich am besten per eMail: <a href="mailto:s.koschnicke@gfxpro.com">s.koschnicke@gfxpro.com</a>
</p>

<p>
Meine Telefonnummer lautet 0 7 000 000 SVEN
</p>

<p>
Briefpost geht an
<address>
GFXpro, Sven Koschnicke<br>
Düppelstraße 59<br>
24105 Kiel
</address>
</p>
