
<div id="intro">
  <h1>Hallo.</h1>
  <p>
    Mein Name ist <em>Sven Koschnicke</em> und ich entwickle <em>Web-Anwendungen</em>.
  </p>
  <a id="client_project" href="#">
    <img src="/images/lightbulb-sticker.png" />
    <p>Ihre Anwendung</p>
  </a>
  <a id="references" href="#">
    <!-- Referenzen -->
  </a>
</div>
