@font-face {
  font-family: Honey;
  src: url( /fonts/HONEY.TTF );
}
@font-face {
  font-family: Baskerville;
  src: url( /fonts/Baskerville.ttc );
}
@font-face {
  font-family: Georgia;
  src: url( /fonts/Georgia.ttf );
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #6c4930;
  color: white;
  font-size: 14.5pt;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
img#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#main {
  position: relative;
  z-index: 1;
  width: 960px;
  margin: 30px auto 30px;
  padding: 0;
  -webkit-perspective: 2200;
  -webkit-perspective-origin-x: 343px;
  -webkit-perspective-origin-y: 50%;
}
div#sidebar {
  width: 343px;
  background-color: transparent;
  background-image: url(/images/black50.png);
  background-repeat: repeat;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 10px 0 0 10px;
  font-family: Helvetica, Verdana, sans-serif;
}
img#logo {
  float: left;
  width: 150px;
  height: 98px;
  margin-top: 57px;
  margin-left: 100px;
  border: 0;
}
ul#navigation {
  width: 275px;
  clear: left;
  float: left;
  margin: 101px 0 0 68px;
  padding: 0;
  list-style: none none inside;
}
ul#navigation li:first-child a {
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-top-left-radius: 10px;
}
ul#navigation li:last-child a {
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom: none;
}
ul#navigation li a {
  display: block;
  background-color: rgba(160, 160, 160, 0.5);
  color: #303030;
  width: 245px;
  padding: 10px 15px 9px 15px;
  z-index: 9;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #444444;
}
ul#navigation li a:hover { background-color: #a0a0a0; }
ul#navigation li.active a {
  background-color: #e0e0e0;
  color: #303030;
  -moz-box-shadow: 0 0 0 black;
  -webkit-box-shadow: 0 0 0 black;
}
div#content {
  background-color: #fbf4da;
  font-family: Baskerville, Palatino Linotype, Book Antiqua, Palatino, serif;
  color: #494339;
  width: 485px;
  margin: 0 0 0 343px;
  padding: 78px 66px 2em 66px;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  z-index: 10;
}
div#content h1 {
  font-size: 2em;
  font-weight: normal;
  padding: 0 0 0 66px;
  margin: 0 0 0 -66px;
  font-family: Georgia;
  color: #8b0000;
}
div#content h1 a {
  display: block;
  color: inherit;
  text-decoration: inherit;
  width: 100%;
}
div#content h1.start {
  line-height: 64px;
  background-color: #8b0000;
  color: white;
  background-image: url(/images/bookmark.png);
  background-repeat: no-repeat;
  background-position: right center;
}
div#content p#intro {
  font-size: 1.3em;
  margin: 2.5em 0;
}
div#content p {
  line-height: 1.5em;
  margin: 1em 0;
}
div#content em { font-style: normal; }
div#content article h1 {
  border-color: #d7d4c7;
  border-style: solid;
  border-width: 1px 0;
}
div#content article .date { font-size: 0.7em; }
