{% if site.info.twitter %}
<a href="https://twitter.com/{{ site.info.twitter }}" title="Follow on Twitter" target="_blank">
  {% include images/twitter.svg %}
</a>
{% endif %}
{% if site.info.github %}
<a href="https://github.com/{{ site.info.github }}" title="Watch on Github" target="_blank">
  {% include images/github.svg %}
</a>
{% endif %}
{% if site.info.facebook %}
<a href="http://facebook.com/{{ site.info.facebook }}" title="Like on Facebook" target="_blank">
  {% include images/facebook.svg %}
</a>
{% endif %}
<a href="/feed.xml" title="RSS Feed">
  {% include images/rss.svg %}
</a>
